{% extends 'shorten/base.html' %}

{% block content %}
<div class="jumbotron">
    <h1>Welcome to ShortenMe!</h1>
    <h2>Your simple URL shortener</h2>
    <br><br>
    {% if not user.is_authenticated %}
        <p>You're not logged in. Please login or register to proceed</p>
    {% else %}
        <a href="{% url 'link-create' %}">
            <button class="btn btn-primary">Let's Begin</button>
        </a>
    {% endif %}
</div>
{% if user.is_authenticated %}
<div class="row">
    <div class="col-md-4">
        <p><strong>Or</strong> navigate through your old shortened URLs and in case you've forgotten them already.</p>
        <a href="{% url 'user-links' %}">
            <button class="btn btn-info">Your URLs</button>
        </a>
    </div>
</div>
{% endif %}
{% endblock content %}