{% extends "shorten/base.html" %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 jumbotron">
        <p>Enter your credentials.</p>
        <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <br>
            <input type="submit" value="Login" class="btn btn-success"/>
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
    </div>
    <div class="col-md-4"></div>
</div>

{% endblock %}